@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Saol Display";
  src: url("../public/fonts/SaolDisplay.ttf");
}
@font-face {
  font-family: "Noto Serif Display";
  src: url("../public/fonts/NotoSerifDisplay-VariableFont_wdth,wght.ttf");
}
@font-face {
  font-family: "Playfair Display";
  src: url("../public/fonts/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../public/fonts/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "League Spartan";
  src: url("../public/fonts/LeagueSpartan-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: "EB Garamond";
  src: url("../public/fonts/EBGaramond-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Roboto Slab";
  src: url("../public/fonts/RobotoSlab-VariableFont_wght.ttf");
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-left: 1px solid #dedede;
}
::-webkit-scrollbar-thumb {
  background: #1a1a1a;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}